exportPattern("^[[:alpha:]]+")
import(raster,cramer,sp,maptools,fields,mgcv,reshape2)
export(darkpix,darkpix.dir,mvs,mvcs,perlin_noise,radians,degrees,sunaltitude,dayintegral,hourwatt,daylengths,calc_dew,calc_humid,
       DF_SMD,index_FFDI,index_FFDI_DF,index_FFDI_G4,index_KBDI,index_NI,index_Z,index_MNI,index_Sharples,index_Sharples_DF,
       index_Fosberg,index_CFWI,grid_points,timespline)
